.hero {
  text-align: center;
}

.heroText {
  max-width: 100rem;
  width: 100%;
  padding: 0 2.4rem;
  margin: 0 auto;
  margin-bottom: 3.2rem;
}

.hero h1 {
  font-size: 6.4rem;
  letter-spacing: -2px;
  line-height: 1.1;
  margin-bottom: 1.2rem;
}

.hero p {
  font-size: 2.4rem;
}

.btnCta {
  background-color: #f1f3f5;
  color: var(--primary-color);
  border: 1px solid #343a40;
  transition: all 0.3s;
  font-weight: 500;
}

.btnCta:hover {
  background-color: #dee2e6;
}
