.tabList {
  display: flex;
  gap: 0.8rem;

  overflow-x: auto;
  white-space: nowrap;

  width: 100%;
  padding: 1.2rem 1.6rem;

  background-color: #343a40;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;

  -webkit-overflow-scrolling: touch;
}

.tabList::-webkit-scrollbar {
  display: none;
}

@media (min-width: 768px) {
  .tabList {
    width: 80%;
    margin: 0 auto;
  }
}
