/* Mobile first */
.tabPanel {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  text-align: center;
  background-color: #ced4da;
  margin: 0 auto;
  width: 100%;

  padding: 2.4rem 1.6rem;

  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
}

@media (min-width: 768px) {
  .tabPanel {
    width: 80%;
    padding: 4.8rem 3.2rem;
  }
}
