:root {
  --primary-color: #868e96;
  --text-color: #e9ecef;
  --font-stack: sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--primary-color);
  color: var(--text-color);
  font-family: var(--font-stack);
}

.btn {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  cursor: pointer;
  border-radius: 11px;
  text-decoration: none;
  font-size: 2.4rem;
  text-align: center;
  margin: 0 auto;
}

.container {
  background-color: #495057;
  max-width: 130rem;
  width: 100%;
  padding: 6.4rem 2.4rem;
  margin: 0 auto;
  min-height: 100vh;
}

.loader {
  width: 45px;
  aspect-ratio: 0.75;
  --c: no-repeat linear-gradient(theme(colors.stone.800) 0 0);
  background: var(--c) 0% 50%, var(--c) 50% 50%, var(--c) 100% 50%;
  background-size: 20% 50%;
  animation: loading 1s infinite linear;
}

@keyframes loading {
  20% {
    background-position: 0% 0%, 50% 50%, 100% 50%;
  }
  40% {
    background-position: 0% 100%, 50% 0%, 100% 50%;
  }
  60% {
    background-position: 0% 50%, 50% 100%, 100% 0%;
  }
  80% {
    background-position: 0% 50%, 50% 50%, 100% 100%;
  }
}
